name: SonarCloud Scan
on: [push]
jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
          args: >
            -Dsonar.projectKey=fithrei02-a11y_SECURE_TASK_MANAGER_main
            -Dsonar.organization=fithrei02-a11y
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
