name: SonarCloud Scan
on: [push]
jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          # TAMBAH 2 BARIS INI:
          SONAR_PROJECT_KEY: fithrei02-a1ly_SECURE-TASK-MANAGER-main
          SONAR_ORGANIZATION: fithrei02-a1ly